ul{
    list-style-type: none;
}
.white_text{
    color: white;

}
body{
    max-width: 100%;


}

#main_banner{

background-color: #F7F5E6;
line-height: 10rem;
padding: 3rem;
}
#alert_banner{
    background-color: #E8E8E8;
}


#employee_break{
    background-color: #52658F;

}

#bottom_title{
padding-left: 1rem;
text-align: center;
    

}
#bottom_hr{
    border-bottom: 3px solid gray;

}

.wrapper{
    text-align: center;

}

.wrapper > img{
    
    padding: 1rem;
    
}
.banner{
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 2rem;
   

}
/* -- Colors --*/
.primary{
background-color: #333A56;
}
.secondary{
background-color: #52658F;

}

.highlight{

background-color: #F7F5E6;
}

.gray{

background-color: #E8E8E8;
}