ul{
    list-style-type: none;
}
#bar{

color: white;
}

#title_text{

color: white;
}

#main_banner{

background-color: #F7F5E6;
line-height: 10rem;
padding: 3rem;
}
#alert_banner{
    background-color: #E8E8E8;
}


#employee_break{
    background-color: #52658F;

}

#bottom_title{
padding-left: 1rem;
text-align: center;
    

}

.container{
    text-align: center;

}

.container > img{
    
    padding: 1rem;
    
}
.banner{
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 2rem;
   

}
/* -- Colors --*/
.primary{
background-color: #333A56;
}
.secondary{
background-color: #52658F;

}

.highlight{

background-color: #F7F5E6;
}

.gray{

background-color: #E8E8E8;
}